
.Banner {
    position: relative;
  }
  
  .Banner > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(60%);
  }
  
  .thongtin-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #tg{
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-top: 20px;
}
  .Banner h3 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-bottom: 3px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .Banner p {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }















 .top-new{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 16vh;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-right: 16vh;
    justify-content: space-between;
}

.top-new>p{
    font-size: 23px;
    flex-basis: 100%;
}

.top-new>.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 17px;
}

.top-new>.pic>a>img{
    width: 100px;
    height: 100px;
}

.top-new>.pic>p{
    text-align: center;
    margin-top: 5px;
}

.top-new a{
    text-decoration: none;
    color: black;
}


@media (max-width: 600px) {
  .top-new{
    padding-left: 1vh;
    justify-content: space-around;
    padding-right: 1vh;
}
.top-new>p{
  flex-basis: 100%;
}
}











.new-spm {
  height: 430px;
  width: 260px;
  margin-bottom: 30px;
  margin-left: 40px;
  }
  
 
  
  .new-sp > p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px dotted gray;
    flex-basis: 100%;
  }
  
  .new-sp {
    margin-left: 10vh;
    margin-right: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  

  
  .new-spm > a > img {
    width: 260px;
    height: 360px;
    object-fit: cover;
  }
  
  .new-spm > p {
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 220px;
    margin-left: 20px;
  }
  
  .new-spm > p > a:hover {
    font-size: 15px;
    text-decoration: none;
    color: #B49149;
  }
  
  .new-spm > p {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
  }
  
  .new-spm > .gia {
    color: rgb(229, 4, 4);
    text-align: center;
    margin-top: -10px;
  }
  
  .new-spm del {
    color: gray;
    font-size: small;
    padding-left: 15px;
  }



  .new-sp .new-spm {
    position: relative;
    overflow: hidden;
  }
  
  .new-sp .new-spm:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
  }
  
 


  


  @media (max-width: 1415px) {
    .new-sp {
      align-items: center;
      margin-left: 20vh;
      margin-right: 20vh;
    }
  }

  @media (max-width: 1220px) {
    .new-sp {
      align-items: center;
      margin-left: 15vh;
      margin-right: 15vh;
    }
  }

  @media (max-width: 1120px) {
    .new-sp {
      align-items: center;
      margin-left: 2vh;
      margin-right: 2vh;
    }
  }

  @media (max-width: 920px) {
    .new-sp {
      align-items: center;
      margin-left: 10vh;
      margin-right: 10vh;
    }
  }


  @media (max-width: 880px) {
    .new-sp {
      align-items: center;
      margin-left: 6vh;
      margin-right: 6vh;
    }
  }

  @media (max-width: 768px) {
    .new-sp {
      flex-direction: column;
      align-items: center;
      margin-left: -5vh;
      margin-right: 0;
    }
  }













.xtbt{
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    padding: 5px;
    padding-top: 10px;
    border: none;
    background-color: white;
    box-shadow: 0 0 2px gray;
}

.xtbt:hover{
    animation-name: xtbt;
    animation-duration: 100s;
}
@keyframes xtbt {
    0.3%{
        background-color: #B49149;
        color: white;
        box-shadow: 0 0 5px gray;
    }
    100%{
        background-color: #B49149;
        color: white;
        box-shadow: 0 0 5px gray;
    }
}






/* //thao tac san pham */

.thao-tacsp{
    position: absolute;
    /* background-color: aquamarine; */
    margin-left: 190px;
    /* margin-left: 160px; */
    margin-top: 220px;
    width: 60px;
    height: 130px;
    display: none;
    /* filter: opacity(0.1); */
    filter: brightness(70%);

}
.thao-tacsp i{
    line-height: 55px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: #d2ab5c;
    text-align: center;
    margin: 5px;
}


/* danh gia sp */
.stars{
    list-style-type: none;
    padding: 0;
    margin-left: 75px;
    text-align: center;
    margin-right: 50px;
    margin-top: 20px;
}
.star{
    font-size: 2em;
    color: #ddd;
    display: inline-block;
}
.orange{
    color: orange;
}
.output{
    background-color: #ddd;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}
#danhgia p{
    margin-left:50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
}




.fb-comments{
    /* background-color: #0963CC; */
    /* width: 80%; */
    margin-left: 50px;
    min-height: 100px;
    /* margin-right: 100px; */
}


/* them vao gio hang */
#themgh{
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 560px;
    width: 21%;
    left: 880px;
    height: 50px;
    background-color: lightgray;
    text-align: center;
    font-size: 13px;
    border-radius: 10px;
}
#themgh:hover{
    background-color: #d2ab5c;
}

#soluong-sp{
    position: absolute;
    left: 700px;
    top: 560px;
}
#soluongsp{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: -2px;
}
#trusl{
    height: 50px;
    width: 35px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid gray;
}
#congsl{
    height: 50px;
    width: 35px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid gray;
}
#congsl:hover{
    background-color: #d2ab5c;
}
#trusl:hover{
    background-color: #d2ab5c;
}




/* sanpham */
#san-pham{
    position: absolute;
    /* left: 250px; */
    top: 189px;
    background-color:   white;
    /* background-color: #313131; */
    /* margin-top: 190px; */
    width: 100%;
    /* height: 2050px; */
    /* padding-left: 10%; */

}
#san-pham button{
    margin-top: 10px;
    margin-left: 10px;
    width: 99%;
    height: 40px;
    position: absolute;
    background-color: #d2ab5c;
    border: none;
    border-radius: 5px;
}


.none1{
    display: none;
}

#san-pham #anhsp{
    margin-top: 70px;
    margin-left: 250px;
    width: 400px;
    height: 550px;
    object-fit: cover;
}

.p2{
    position: absolute;
    left: 700px;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.p2 #tensp1{
    font-size: 25px;
    font-weight: normal;
    padding-right: 100px;
}
.p2 #giasp{
    color: #B44D49;
    font-size: 30px;
    position: absolute;
    top: 60px;
}
#giamgiasp{
    position: absolute;
    top: 100px;
    left: 130px;
}
.p2 del{
    font-size: 20px;
    color: gray;
    margin-left: 20px;
}

.boiden{
    position: absolute;
    top: 120px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px 10px 10px 0;
    font-size: 15px;
    line-height: 12px;
}
.nonden{
    /* background-color: #0963CC; */
    position: absolute;
    top: 120px;
    left: 135px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;
    font-size: 15px;
}
#noi-dung{
    /* background-color: #0963CC; */
    position: absolute;
    top: 290px;
    width: 600px;
    text-align: justify;
}


.noidung-sp, .tacgia-sp, .nxb-sp, .namxb-sp, .kichthuoc-sp{
    display: none;
}