




/* gio hang */
#storeee{
    position: absolute;
    top: 100px;
    right: 35px;
    width: 300px;
    max-height: 600px;
    background-color: white;
    box-shadow: 0 5px 5px gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sto-tong{
    width: 88%;
    height: 40px;
    margin-left: 6%;
    border-top: 3px black solid;
    margin-top: 20px;
}
#sto-tong h4{
    float: left;
    line-height: 0px;
}
#sto-tong #tong-tien{
    float: right;
    margin-top: 20px;
    line-height: 0px;
}

#sto-thaotac{
    width: 88%;
    /* height: 20px; */
    margin-left: 6%;
    /* background-color: #0963CC; */
    margin-top: 10px;
    margin-bottom: 50px;
}
#thaotac-01{
    border: none;
    width: 120px;
    font-size: 11px;
    padding: 5px;
    float: left;
}
#thaotac-02{
    border: none;
    width: 120px;
    font-size: 11px;
    padding: 5px;
    float: right;
    background-color: #313131;
    color: #ddd;
}
#ds-sp{
    font-size: 13.5px;
}

#sto-anh img{
    width: 80px;
    height: 110px;
    float: left;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 5px;
}

#sto-ten{
    /* text-align: justify; */
    margin-right: 6%;
    /* background-color: #313131; */
}
#sto-gia{
    margin: 10px 6% 10px 0;
    float: right;
    color: #B44D49;
}
#sto-sl{
    margin: 10px 0;
    float: left;
    border: #313131 1px solid;
    padding: 2px;
    width: 15px;
    text-align: center;
}
#sto-thongtinchitiet{
    max-height: 460px;
    overflow: auto;ko9
    margin: 20px 0 25px 6%; 
}
#sto-trong{
    margin: 20px 6% 25px 6%; 
    height: 180px;
    object-fit: cover;
    background-size: 100% 100%;
    background-image: url(../Images/Logo/giohangtrong.webp);
}

.none1{
    display: none;  
}