

/* nxb noi bat */
.top-new{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 110px;
    
}
.top-new>p{
    font-size: 23px;
    padding-left: 10px;
    
}
.top-new>.pic>a>img{
    width: 100px;
    height: 100px;
    
}
.top-new .pic{
    float: left;
    margin-right: 17px;
}
.top-new>.pic>p{
    text-align: center;
    margin-top: 5px;
}
.top-new a{
    text-decoration: none;
    color: black;
}
.top-new a:hover{
    color: #B49149;
}

/* article */
.lienhe>iframe{
    margin-left: 100px;
    margin-bottom: 30px;
}
.lienhe>h3{
    font-weight: normal;
    margin-top: 200px;
    margin-left: 100px;
    padding-left: 20px;
    border-bottom: 1px dotted lightgray;
    margin-right: 130px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.lienhe{
    font-family: Arial, Helvetica, sans-serif;
}
.lh-01{
    margin-left: 120px;
    font-size: 20px;
    font-weight: bold;
}
.thongtinlh:hover, .lh-01:hover{
    color: #b44d49;
}
.thongtinlh{
    width: 470px;
    /* background-color: #b44d49; */
    margin-left: 120px;
    font-weight: bold;
    margin-bottom: 50px;
}



.fb-viti{
    position: absolute;
    right: 240px;
    top: 500px;
    padding: 3px;
    box-shadow: 0 15px 30px #B49149;
}

/* form */
article form{
    position: absolute;
    right: 100px;
    top: 690px;
    width: 40%;
}

h1{
    margin-bottom: -5px;
}
fieldset{
    border-radius: 10px;
    background-color: white;
    margin: 15px;
    border: 3px solid #b44d49;
    border-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset legend{
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #b44d49;
    width: 200px;
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px ;
    height: 25px;
    padding-top: 10px;
}
.fm-gp{
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  
}
.fm-gp label{
    font-weight: bold;
    font-variant: small-caps;
}
.fm-bn{
    padding: 8px 30px;
    /* outline: none; */
    border: none;
    font-weight: bold;
    color: white;
    width: 48.6%;
    background-color: #b44d49bf;
}
.fm-bn:hover{
    background-color: #b44d49;
}
.fm-cl{
    width: 98%;
    padding: 10px 5px 10px 5px;
    outline: none;
    border: 2px solid #b44d49;
    font-family: Arial, Helvetica, sans-serif;
}


#checkform{
    color:#b44d49;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

