footer {
    background-color: #313131;
    margin-top: 50px;
    height: auto;
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  .foo-lh {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
  }
  
  .foo-01 > img {
    float: left;
  }
  
  .foo-01 > p {
    color: rgb(227, 225, 225);
    padding-left: 90px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace;
  }
  
  .thongtinfoo {
    color: rgb(227, 225, 225);
  }
  
  .thongtinfoo > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .foo-nhantt {
    color: rgb(227, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 15%;
    text-align: justify;
  }
  
  .foo-nhantt input {
    height: 35px;
    width: 75%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding-left: 15px;
  }
  
  .foo-nhantt button {
    height: 35px;
    width: 24%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    margin-left: -4px;
  }
  
  .foo-nhantt button:hover {
    background-color: #B49149;
    color: white;
  }
  
  /* Footer style for tablet */
  @media (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 15px;
    }
  
    .foo-lh {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .foo-01 > img {
      margin-right: 10px;
    }
  
    .foo-01 > p {
      padding-left: 0;
      margin-top: 10px;
      font-size: 20px;
    }
  
    .thongtinfoo {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .thongtinfoo > p {
      font-size: 14px;
    }
  
    .foo-nhantt {
      text-align: center;
      margin-right: 0;
    }
  
    .foo-nhantt input {
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
    }
  
    .foo-nhantt button {
      width: 100%;
      max-width: 100px;
      margin-top: 10px;
    }
  }
  
  /* Footer style for mobile */
  @media (max-width: 480px) {
    .foo-nhantt {
      margin-right: 0;
    }
  }
  #backtop{
    color: #0963CC;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}
#backtop>img{
    width: 50px;
    height: 60px;
}

